@font-face {
    font-family: 'SourceSerif4-Bold';
    src: url('../fonts/SourceSerif4-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'SourceSerif4';
    src: url('../fonts/SourceSerif4-Regular.woff2') format('woff2');
}

body {
    margin: 53px 37px 54px 37px;
}

h1 {
    color: #A54328;
    font-size: 28.34px;
    font-family: SourceSerif4-Bold;
    word-wrap: break-word;
    margin: 0;
}

header>img {
    width: 100%;
    height: 250px;
    margin: 46px 0;
}

body > section >p:first-of-type,
body > section >p:nth-of-type(2),
ul,
ol {
    color: #A54328;
    font-size: 14.17px;
    font-family: SourceSerif4;
    font-weight: 400;
    word-wrap: break-word;
}

h2 {
    color: #A54328;
    font-family: SourceSerif4-Bold;
}

@media screen and (min-width: 769px) {
    body {
        display: flex;
        justify-content: center;
        margin: 53px 37px 54px 37px;
        gap: 150px;
    }

    body > section,
    body > main {
        max-width: 500px;
    }
}