@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./fonts/Roboto-Light.woff2') format('woff2');
}

h1,
header>p {
  text-align: center;
}

h1 {
  color: #271A45;
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 60px;
  word-wrap: break-word;
  margin: 32px 0 0 0;
}

header>p {
  color: #323238;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
  margin: 32px 0;
}

.recipes-container>h3 {
  color: #271A45;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 50px;
  word-wrap: break-word;
}

.recipes-container>ul {
  padding: 0;
  margin: 0;
  color: #323238;
  font-size: 17px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 38.40px;
  word-wrap: break-word;
}

li:before {
  content: '\00b7';
  font-size: 20px;
}

.recipes-container>ul a {
  text-decoration-thickness: 1.2px;
  text-underline-offset: 1.3px;
  font-family: 'Roboto-Light';
}

.author-title {
  color: #633BBC;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28.80px;
  letter-spacing: 1.80px;
  word-wrap: break-word
}

.author-container {
  display: flex;
  gap: 15px;
}

.author-container > img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-info > div:first-of-type {
  color: #271A45;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

.author-info > p {
  color: #323238;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0;
}

.author-info > div:last-of-type {
  display: flex;
  gap: 5px;
}

.author-info > div:last-of-type > p {
  margin: 0;
}

@media screen and (min-width: 769px) {
  h1,
  header>p {
    text-align: left;
  }

  main {
    display: flex;
  }

  main>.recipes-container {
    width: 60%;
  }

  main>aside {
    width: 40%;
  }
}
